<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
  <test name="Regression1">
    <classes>
      <class name="testng.BMICalculatorTestCase"/>
      <class name="testng.OnlineBanking"/>
      <class name="testng.CalorieCalculator"/>
    </classes>
  </test>
</suite>
